.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Sea Talk Pages

.seatalk-content{

	padding: $base__space-unit;

	.meta {
		text-align: center;
	}

	@include desktop-query {

		display: flex;
		justify-content: space-between;

		.meta, .content {
			width: 49%;
		}

		.meta {
			text-align: left;

		}
	}
}

// Standard Blog Pages


.single-standard-header {
	width: 100%;
	height: auto;
}
.main-single-standard {

	@include desktop-query {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}


article.format-standard, aside.format-standard {

	@include desktop-query {
		width: 49%;
	}
}

aside.format-standard {

	@include desktop-query {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

}

// Parent Pages that link to Related Sub page-links

h1.parent-page {
	text-align: center;
}

ul.related-pages {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;


	li {
		display: inline-block;
		margin: 0.2rem $base__space-unit;
	}

	li.loop-title {

		width: 50%;
		height: 20vh;
		background: url(./images/arrow.png) no-repeat 0% 100%;

		@include tablet-query {
			width: 15%;
			height: 17vh;

		}
	}

	h2 {
		font-weight: normal;
	}
	h3 {
		text-transform: uppercase;
		font-weight: normal;
		@include font-size(1);
		max-width: 150px;
	}
}
