.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Sea Talk Pages

.seatalk-content{

	padding: $base__space-unit;

	.meta {
		text-align: center;
	}

	@include desktop-query {

		display: flex;
		justify-content: space-between;

		.meta, .content {
			width: 49%;
		}

		.meta {
			text-align: left;

		}
	}
}

// Standard Blog Pages


.single-format-standard .site-main {


	@include desktop-query {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

article.format-standard, aside.format-standard {

	@include desktop-query {
		width: 49%;
	}
}

aside.format-standard {

	@include desktop-query {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

}
