@font-face {
    font-family: 'Lato';
    src: url('./fonts/lato-thin-webfont.eot');
    src: url('./fonts/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/lato-thin-webfont.woff2') format('woff2'),
         url('./fonts/lato-thin-webfont.woff') format('woff'),
         url('./fonts/lato-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
