

.site {
    max-width: $size__site-main;
    margin: 0 auto;
    background: $color__background-main;
}


.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop-query {
    position: relative;
    height: 305px;
  }

}

.site-branding {

  height: 40vh;
  width: 100%;
  background: url('../simres/images/simres-logo.png') no-repeat center center;
  background-size: contain;

  @include desktop-query {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

}

.hentry:not(.seatalk){
  padding: $base__space-unit;
}

// Two-Column Page Template

.page-template-two-column {

  @include tablet-query {

    .entry-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left-column, .right-column {
      width: 50%;
    }
  }
}

// Layout for pages that have a large image on the right side (sideimage.php)

.page-template-sideimage {

  .side-image {
    width: 100%;
    height: 50vh;
    overflow-y: hidden;

    img {
      width: 100%;
    }
  }

  @include desktop-query {
    .content-area {
      padding-right: 0;
    }

    .site-main {
      display: flex;
    }

    article {
      width: 50%;
    }

    .side-image {
      width: 50%;
      text-align: right;
    }
  }

}
