

.site {
    max-width: $size__site-main;
    margin: 0 auto;
    background: $color__background-main;
}


.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $base__space-unit;
}

.site-branding {
  display: block;
  height: 20vh;
  width: 100%;
  background: url('../simres/images/simres-logo-new.svg') no-repeat center center;
  background-size: contain;
  margin-bottom: $base__space-unit;
  // @include desktop-query {
  //   height: 40vh;
  //   width: 100%;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

}

.hentry:not(.seatalk){
  padding: $base__space-unit;
}

.site-footer {
  padding: $base__space-unit $base__space-unit 0;
  border-top: $border__main;
}

// Home page

.home section {
  margin: $base__space-unit;
}

// Small Header for Blog Pages

.blog-header {

    background: $color__background-blog;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include tablet-query {
      height: 20vh;
    }

    @include desktop-query {
      height: 13vh;
    }
    a {
      color: $color__small-nav;
      text-decoration: none;
    }

  .site-branding {

    background: none;
    position: relative;
    height: auto;
    text-transform: uppercase;
    text-align: center;

    @include desktop-query {
      width: 30%;
      text-align: left;
      padding-left: $base__space-unit;
    }
  }
  .small-navigation {

    width: 100%;
    padding: 0 $base__space-unit;

    @include desktop-query {
      width: 70%;
    }


    ul.menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
      padding-left: 0;
      margin-left: 0;
      list-style: none;
    }

    li {
      width: auto;
      padding: 0.5rem 0.4rem;
    }
  }
}

// Two-Column Page Template

.page-template-two-column {

  @include tablet-query {

    .entry-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .left-column, .right-column {
      width: 50%;
    }
  }
}

// Layout for pages that have a large image on the right side (sideimage.php)

.page-template-sideimage {

  .side-image {
    width: 100%;
    height: 50vh;
    overflow-y: hidden;

    @include desktop-query {
      height: 100%;
    }

    img {
      width: 100%;
    }
  }

  @include desktop-query {
    .content-area {
      padding-right: 0;
    }

    .site-main {
      display: flex;
    }

    article {
      width: 50%;
    }

    .side-image {
      width: 50%;
      text-align: right;
    }
  }

}

//layout for blog archive page

.blog {
  header.hero {
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)),
    url(./images/archive-header.jpg) no-repeat center center;
    background-size: cover;
    height: 54vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      padding-left: 2rem;
      padding-bottom: 10rem;
    }
  }
}

.blog-archive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  padding: $base__space-unit;

}

.blog-archive div.hentry {
  flex: 0 1 25%;
  border: $border__main;
  border-top-width: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-archive .entry-content {
  height: 90px;
  width: 225px;
  overflow: hidden;
}

// layout for Seatalk Archive Page

.post-type-archive-seatalk .site-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  @include tablet-query {
    flex-direction: row;
  }
}

.post-type-archive-seatalk  .side-area {

  width: 100%;
  height: 25vh;
  background: url(./images/seatalks-small-header.png) no-repeat center center;
  background-size: cover;

  @include tablet-query {
    width: 40%;
    height: auto;
    background: url(./images/seatalks-archive.png) no-repeat top center;
    background-size: contain;

  }

}

.post-type-archive-seatalk .content-area {

  width: 100%;
  padding: $base__space-unit;

  @include tablet-query {
    width: 60%;
  }

  a {
    text-decoration: underline;
  }

  h2 {
    text-align: right;
  }

  h3, h4 {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  h3 {
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    margin-top: 0;
  }

  .entry-content {
    margin: 0.5rem 0 0;
  }


}
