a {
	color: $color__link;


	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

ul.related {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.related li {
	display: inline-block;
	padding: 0.5rem;
	line-heigh: 0.5rem;
	max-width: 90%;
	background: #C9E8F2;
	margin: 0.1rem 0;
}

.related a {
	text-decoration: none;
}
