.main-navigation {

	display: block;
	width: 100%;

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			position: absolute;
			left: -999em;
			z-index: 99999;
			display: flex;
			flex-direction: row;
			width: auto;
			background: white;
			box-shadow: 0px 10px 16px -3px #898989;

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		flex: 0 1 100px;
		padding: 0.5rem $base__space-unit;
		position: relative;
		text-align: center;

		&:hover > a,
		&.focus > a {

			border-bottom: 2px solid $color__brand;
		}
	}

	a {
		color: $color__text-main;
		font-weight: bold;
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {

		border-bottom: 2px solid $color__brand;
	}
}


.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
